Repository Development-team-1/just-pickup, pull requests merged in 2022-02, with the labels that each got.

#14 Feature/owner order backend structure
  order-service/src/main/java/com/justpickup/orderservice/OrderServiceApplication.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/dto/OrderDto.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/entity/Order.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/repository/OrderRepository.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/repository/OrderRepositoryCustom.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderService.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderServiceImpl.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/web/OrderController.java
  order-service/src/main/java/com/justpickup/orderservice/domain/orderItem/dto/OrderItemDto.java
  order-service/src/main/java/com/justpickup/orderservice/domain/orderItem/entity/OrderItem.java
  order-service/src/main/java/com/justpickup/orderservice/domain/orderItem/repository/OrderItemRepository.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/exception/FeignClientException.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/exception/FeignClientExceptionErrorDecoder.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/store/GetItemResponse.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/store/StoreClient.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/user/GetCustomerResponse.java
  order-service/src/main/java/com/justpickup/orderservice/global/client/user/UserClient.java
  order-service/src/main/java/com/justpickup/orderservice/global/config/FeignClientConfig.java
  order-service/src/main/java/com/justpickup/orderservice/global/config/QueryDslConfig.java
  order-service/src/main/java/com/justpickup/orderservice/global/dto/Code.java
  order-service/src/main/java/com/justpickup/orderservice/global/dto/Result.java
  order-service/src/main/java/com/justpickup/orderservice/global/entity/Yn.java
  order-service/src/main/java/com/justpickup/orderservice/global/exception/CustomException.java
  order-service/src/main/java/com/justpickup/orderservice/global/exception/GlobalExceptionHandler.java
  owner-apigateway-service/build.gradle
  owner-apigateway-service/src/main/resources/application.yml
  owner-frontend-service/src/main/java/com/justpickup/ownerfrontendservice/OwnerFrontendServiceApplication.java
  owner-frontend-service/src/main/java/com/justpickup/ownerfrontendservice/domain/order/web/OrderController.java
  owner-frontend-service/src/main/resources/static/common.js
  owner-frontend-service/src/main/resources/templates/domain/order/order.html
  owner-frontend-service/src/main/resources/templates/fragments/navbar.html
  owner-frontend-service/src/main/resources/templates/layouts/layout.html
  store-service/src/main/java/com/justpickup/storeservice/domain/item/dto/ItemDto.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/repository/ItemRepository.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/service/ItemService.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/service/ItemServiceImpl.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/web/ItemController.java
  store-service/src/main/java/com/justpickup/storeservice/global/dto/Code.java
  store-service/src/main/java/com/justpickup/storeservice/global/dto/Result.java
  store-service/src/main/java/com/justpickup/storeservice/global/exception/CustomException.java
  store-service/src/main/java/com/justpickup/storeservice/global/exception/GlobalExceptionHandler.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/CustomerDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/UserDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/exception/NotExistUserException.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/repository/CustomerRepository.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserService.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserServiceImpl.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/web/UserController.java
  user-service/src/main/java/com/justpickup/userservice/global/dto/Code.java
  user-service/src/main/java/com/justpickup/userservice/global/dto/Result.java
  user-service/src/main/java/com/justpickup/userservice/global/exception/CustomException.java
  user-service/src/main/java/com/justpickup/userservice/global/exception/GlobalExceptionHandler.java
Labels: ✨ Feature, ⚙ Setting, 📬 API

#15 Feature/owner order
  order-service/src/docs/asciidoc/api-docs.adoc
  order-service/src/main/java/com/justpickup/orderservice/domain/order/dto/OrderSearchCondition.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/entity/Order.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/repository/OrderRepositoryCustom.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderService.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderServiceImpl.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/web/OrderController.java
  order-service/src/main/resources/static/docs/api-docs.html
  order-service/src/test/java/com/justpickup/orderservice/config/TestConfig.java
  order-service/src/test/java/com/justpickup/orderservice/domain/order/web/OrderControllerTest.java
  owner-frontend-service/src/main/resources/static/common.js
  owner-frontend-service/src/main/resources/templates/domain/order/order.html
  owner-frontend-service/src/main/resources/templates/fragments/left.html
  store-service/src/docs/asciidoc/api-docs.adoc
  store-service/src/main/java/com/justpickup/storeservice/domain/item/exception/NotExistItemException.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/service/ItemServiceImpl.java
  store-service/src/main/resources/static/docs/api-docs.html
  store-service/src/test/java/com/justpickup/storeservice/config/TestConfig.java
  store-service/src/test/java/com/justpickup/storeservice/domain/item/web/ItemControllerTest.java
  user-service/src/docs/asciidoc/api-docs.adoc
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/CustomerDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/UserDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/web/UserController.java
  user-service/src/main/resources/static/docs/api-docs.html
  user-service/src/test/java/com/justpickup/userservice/config/TestConfig.java
  user-service/src/test/java/com/justpickup/userservice/domain/user/web/UserControllerTest.java
Labels: ✨ Feature, 🎨 Html&css, 📬 API, ✅ Test

#17 카테고리 기능 추가
  owner-frontend-service/src/main/java/com/justpickup/ownerfrontendservice/domain/category/web/CategoryController.java
  owner-frontend-service/src/main/resources/templates/domain/category/category.html
  owner-frontend-service/src/main/resources/templates/layouts/layout.html
  store-service/.gitignore
  store-service/src/docs/asciidoc/api-docs.adoc
  store-service/src/main/generated/com/justpickup/storeservice/domain/category/entity/QCategory.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/favoritestore/entity/QFavoriteStore.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/item/entity/QItem.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/itemoption/entity/QItemOption.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/map/entity/QMap.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/review/entity/QReview.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/reviewreply/entity/QReviewReply.java
  store-service/src/main/generated/com/justpickup/storeservice/domain/store/entity/QStore.java
  store-service/src/main/generated/com/justpickup/storeservice/global/entity/QAddress.java
  store-service/src/main/generated/com/justpickup/storeservice/global/entity/QBaseEntity.java
  store-service/src/main/generated/com/justpickup/storeservice/global/entity/QPhoto.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/dto/CategoryDto.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/entity/Category.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/exception/NotFoundStoreException.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/repository/CategoryRepository.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/service/CategoryService.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/web/CategoryController.java
  store-service/src/main/java/com/justpickup/storeservice/domain/store/repository/StoreRepository.java
  store-service/src/main/java/com/justpickup/storeservice/global/client/exception/FeignClientException.java
  store-service/src/main/java/com/justpickup/storeservice/global/client/exception/FeignClientExceptionErrorDecoder.java
  store-service/src/main/java/com/justpickup/storeservice/global/client/user/GetCustomerResponse.java
  store-service/src/main/java/com/justpickup/storeservice/global/client/user/UserClient.java
  store-service/src/main/java/com/justpickup/storeservice/global/config/FeignClientConfig.java
  store-service/src/main/java/com/justpickup/storeservice/global/config/QueryDslConfig.java
  store-service/src/main/resources/application.yml
  store-service/src/test/java/com/justpickup/storeservice/config/TestConfig.java
  store-service/src/test/java/com/justpickup/storeservice/domain/category/web/CategoryControllerTest.java
Labels: ✨ Feature, 📬 API

#16 feat(common): p6spy 모듈 추가
  discount-service/build.gradle
  discount-service/src/main/java/com/justpickup/discountservice/global/config/P6spyConfiguration.java
  discount-service/src/main/java/com/justpickup/discountservice/global/p6spy/CustomP6spySqlFormat.java
  discount-service/src/main/resources/application.yml
  notification-service/build.gradle
  notification-service/src/main/java/com/justpickup/notificationservice/global/config/P6spyConfiguration.java
  notification-service/src/main/java/com/justpickup/notificationservice/global/p6spy/CustomP6spySqlFormat.java
  notification-service/src/main/resources/application.yml
  order-service/build.gradle
  order-service/src/main/java/com/justpickup/orderservice/global/config/P6spyConfiguration.java
  order-service/src/main/java/com/justpickup/orderservice/global/p6spy/CustomP6spySqlFormat.java
  order-service/src/main/resources/application.yml
  store-service/build.gradle
  store-service/src/main/java/com/justpickup/storeservice/global/config/P6SpyConfiguration.java
  store-service/src/main/java/com/justpickup/storeservice/global/p6spy/CustomP6spySqlFormat.java
  store-service/src/main/resources/application.yml
  user-service/build.gradle
  user-service/src/main/java/com/justpickup/userservice/global/config/P6spyConfiguration.java
  user-service/src/main/java/com/justpickup/userservice/global/p6spy/CustomP6spySqlFormat.java
  user-service/src/main/resources/application.yml
Labels: ⚙ Setting

#18 Feature/점주 서비스 - 지난 주문 페이지 구현
  order-service/src/docs/asciidoc/api-docs.adoc
  order-service/src/main/java/com/justpickup/orderservice/domain/order/dto/PrevOrderSearch.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/repository/OrderRepositoryCustom.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderService.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/service/OrderServiceImpl.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/validator/PrevOrderSearchValidator.java
  order-service/src/main/java/com/justpickup/orderservice/domain/order/web/OrderController.java
  order-service/src/test/java/com/justpickup/orderservice/domain/order/web/OrderControllerTest.java
  owner-frontend-service/src/main/java/com/justpickup/ownerfrontendservice/domain/prevorder/web/PrevOrderController.java
  owner-frontend-service/src/main/resources/static/vendor/twbs-pagination/jquery.pwbsPagination.min.js
  owner-frontend-service/src/main/resources/templates/domain/prev-order/prev-order.html
  owner-frontend-service/src/main/resources/templates/fragments/left.html
  owner-frontend-service/src/main/resources/templates/layouts/layout.html
Labels: ✨ Feature, ✅ Test

#19 설계 / JWT, OAuth 2.0
  config-service/.gitignore
  config-service/build.gradle
  config-service/gradle/wrapper/gradle-wrapper.jar
  config-service/gradle/wrapper/gradle-wrapper.properties
  config-service/gradlew
  config-service/gradlew.bat
  config-service/settings.gradle
  config-service/src/main/java/com/justpickup/configservice/ConfigServiceApplication.java
  config-service/src/main/resources/application.yml
  config-service/src/test/java/com/justpickup/configservice/ConfigServiceApplicationTests.java
  customer-apigateway-service/build.gradle
  customer-apigateway-service/src/main/java/com/justpickup/customerapigatewayservice/filter/AuthorizationHeaderFilter.java
  customer-apigateway-service/src/main/java/com/justpickup/customerapigatewayservice/security/JwtTokenProvider.java
  customer-apigateway-service/src/main/resources/application.yml
  customer-frontend-service/src/main/java/com/justpickup/customerfrontendservice/domain/customer/CustomerController.java
  customer-frontend-service/src/main/resources/templates/domain/food/food-home-1.html
  customer-frontend-service/src/main/resources/templates/index.html
  owner-apigateway-service/build.gradle
  owner-apigateway-service/src/main/java/com/justpickup/ownerapigatewayservice/filter/AuthorizationHeaderFilter.java
  owner-apigateway-service/src/main/java/com/justpickup/ownerapigatewayservice/security/JwtTokenProvider.java
  owner-apigateway-service/src/main/resources/application.yml
  user-service/build.gradle
  user-service/src/main/java/com/justpickup/userservice/UserServiceApplication.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/exception/AccessTokenNotValidException.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/exception/RefreshTokenNotValidException.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/redis/RefreshToken.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/repository/RefreshTokenRedisRepository.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/service/OAuthService.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/service/RefreshTokenService.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/service/RefreshTokenServiceImpl.java
  user-service/src/main/java/com/justpickup/userservice/domain/jwt/web/AuthController.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/CustomerDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/JwtTokenDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/OAuthAttributeDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/StoreOwnerDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/dto/UserDto.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/entity/AuthType.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/entity/Customer.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/entity/StoreOwner.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/entity/User.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/exception/NotExistUserException.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/repository/CustomerRepository.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/repository/UserRepository.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserService.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserServiceImpl.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/web/UserController.java
  user-service/src/main/java/com/justpickup/userservice/global/config/AppConfig.java
  user-service/src/main/java/com/justpickup/userservice/global/config/RedisConfig.java
  user-service/src/main/java/com/justpickup/userservice/global/dto/LoginRequest.java
  user-service/src/main/java/com/justpickup/userservice/global/exception/GlobalExceptionHandler.java
  user-service/src/main/java/com/justpickup/userservice/global/security/HeaderAuthorizationFilter.java
  user-service/src/main/java/com/justpickup/userservice/global/security/LoginAuthenticationFilter.java
  user-service/src/main/java/com/justpickup/userservice/global/security/SecurityConfig.java
  user-service/src/main/java/com/justpickup/userservice/global/utils/CookieProvider.java
  user-service/src/main/java/com/justpickup/userservice/global/utils/JwtTokenProvider.java
  user-service/src/main/resources/application.yml
Labels: ✨ Feature

#20 점주용 페이지 vue.js로 변경
  .gitignore
  config-service/.idea/.gitignore
  owner-apigateway-service/src/main/resources/application.yml
  owner-vue/.idea/.gitignore
  owner-vue/babel.config.js
  owner-vue/package.json
  owner-vue/public/favicon.ico
  owner-vue/public/index.html
  owner-vue/src/App.vue
  owner-vue/src/api/order.js
  owner-vue/src/assets/logo.png
  owner-vue/src/assets/logo.svg
  owner-vue/src/components/DatePicker.vue
  owner-vue/src/components/OrderCard.vue
  owner-vue/src/components/Sidebar.vue
  owner-vue/src/components/Topbar.vue
  owner-vue/src/main.js
  owner-vue/src/plugins/vuetify.js
  owner-vue/src/router/index.js
  owner-vue/src/views/About.vue
  owner-vue/src/views/Category.vue
  owner-vue/src/views/Dashboard.vue
  owner-vue/src/views/Home.vue
  owner-vue/src/views/Menu.vue
  owner-vue/src/views/Order.vue
  owner-vue/src/views/PrevOrder.vue
  owner-vue/vue.config.js
  store-service/src/main/java/com/justpickup/storeservice/domain/item/dto/ItemDto.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/dto/ItemSearch.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/repository/ItemRepository.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/repository/ItemRepositoryCustom.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/service/ItemService.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/service/ItemServiceImpl.java
  store-service/src/main/java/com/justpickup/storeservice/domain/item/web/ItemController.java
  store-service/src/main/resources/application.yml
Labels: ✨ Feature, 🎨 Html&css

#21 feat(owner-vue, store-service): 카테고리에서 바로 item리스트 view
  owner-vue/src/views/Category.vue
  store-service/src/main/java/com/justpickup/storeservice/domain/category/dto/CategoryDto.java
  store-service/src/main/java/com/justpickup/storeservice/domain/category/web/CategoryController.java
Labels: ✨ Feature, 📬 API

#22 점주 회원가입 로직 추가 (gateway preflight 설정 추가)
  owner-apigateway-service/src/main/resources/application.yml
  owner-vue/src/App.vue
  owner-vue/src/api/user.js
  owner-vue/src/main.js
  owner-vue/src/router/index.js
  owner-vue/src/views/About.vue
  owner-vue/src/views/Home.vue
  owner-vue/src/views/Layout/AuthLayout.vue
  owner-vue/src/views/Layout/DashboardLayout.vue
  owner-vue/src/views/Layout/Sidebar.vue
  owner-vue/src/views/Layout/Topbar.vue
  owner-vue/src/views/RegisterUser.vue
  owner-vue/vue.config.js
  user-service/build.gradle
  user-service/src/docs/asciidoc/api-docs.adoc
  user-service/src/main/java/com/justpickup/userservice/domain/user/exception/DuplicateUserEmail.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/repository/UserRepository.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserService.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/service/UserServiceImpl.java
  user-service/src/main/java/com/justpickup/userservice/domain/user/web/UserController.java
  user-service/src/main/java/com/justpickup/userservice/global/security/SecurityConfig.java
  user-service/src/test/java/com/justpickup/userservice/domain/user/web/UserControllerTest.java
Labels: ✨ Feature, 📬 API, 💻 CrossBrowsing, ✅ Test
